<div id="options">

  <!-- 
   ** Buttons **
  -->
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" id="buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Buttons
    </button>
    <div class="dropdown-menu" aria-labelledby="buttons">
      <a class="dropdown-item" href="#" data-option="button-primary">Primary</a>
      <a class="dropdown-item" href="#" data-option="button-secondary">Secondary</a>
      <a class="dropdown-item" href="#" data-option="button-success">Success</a>
      <a class="dropdown-item" href="#" data-option="button-info">Info</a>
      <a class="dropdown-item" href="#" data-option="button-warning">Warning</a>
      <a class="dropdown-item" href="#" data-option="button-danger">Danger</a>
    </div>
  </div>

  <!-- 
   ** Cards **
  -->
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" id="cards" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cards
    </button>
    <div class="dropdown-menu" aria-labelledby="cards">
      <a class="dropdown-item" href="#" data-option="card-blocklinks">Block Links</a>
      <a class="dropdown-item" href="#" data-option="card-bulletlinks">Bullet Links</a>
      <a class="dropdown-item" href="#" data-option="card-callout">Callout</a>
      <a class="dropdown-item" href="#" data-option="card-notice">Notice</a>
      <a class="dropdown-item" href="#" data-option="card-profile">Profile</a>
    </div>
  </div>
  
</div>