<div id="options-csv">
  <h2>CSV Photo Grid Generation</h2>
  <p>
    Copy the URL of a public CSV file containing three columns: 'name', 'photo',
    and 'node'.  The 'photo' column should contain a URL of the photo. The 'node'
    column should contain the node ID of the Drupal page you want to link to.
    Code that you can paste into your page in Drupal will be generated below.
  </p>

  <form id="csv">
    <input id="csv-url" placeholder="URL of your CSV file">
    <input type="submit" class="btn btn-small btn-primary" value="Generate code">
  </form>
</div>
