<!-- 
 ** Buttons **
-->

<script id="button-primary" type="text/template">
<a class="btn btn-primary" href="[URL]">Primary Button</a>
</script>

<script id="button-secondary" type="text/template">
<a class="btn btn-secondary" href="[URL]">Secondary Button</a>
</script>

<script id="button-success" type="text/template">
<a class="btn btn-success" href="[URL]">Success Button</a>
</script>

<script id="button-info" type="text/template">
<a class="btn btn-info" href="[URL]">Info Button</a>
</script>

<script id="button-warning" type="text/template">
<a class="btn btn-warning" href="[URL]">Warning Button</a>
</script>

<script id="button-danger" type="text/template">
<a class="btn btn-danger" href="[URL]">Danger Button</a>
</script>


<!-- 
 ** Cards **
-->

<script id="card-blocklinks" type="text/template">
<div class="card links">
  <div class="card-block">
    <h3 class="card-title">[TITLE]</h3>
    <p class="card-text">[TITLE]</p>
  </div>
  <ul class="list-group list-group-flush">
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
  </ul>
</div>
</script>

<script id="card-bulletlinks" type="text/template">
<div class="card">
  <div class="card-block">
    <h3 class="card-title">[TITLE]</h3>
    <ul class="card-text">
      <li><a href="[URL]">[NAME]</a></li>
      <li><a href="[URL]">[NAME]</a></li>
      <li><a href="[URL]">[NAME]</a></li>
    </ul>
  </div>
</div>
</script>

<script id="card-callout" type="text/template">
<div class="card">
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
  </div>
</div>
</script>

<script id="card-notice" type="text/template">
<div class="card card-danger card-inverse">
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
  </div>
</div>
</script>

<script id="card-profile" type="text/template">
<div class="card">
  <h3 class="card-header">[TEXT]</h3>
  <img alt="[ALT]" src="http://placekitten.com/300/300" />
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
    <a class="btn btn-primary">[TEXT]</a>
  </div>
</div>
</script>

<!-- 
 ** Image Overlay Cards **
-->

<script id="imgovrlay-topleft" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top pos-left">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-topcenter" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top pos-center">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-topright" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-middleleft" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle pos-left">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-middlecenter" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle pos-center">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-middleright" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-bottomleft" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-left">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-bottomcenter" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-center">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-bottomright" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-largetop" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top">
      <a class="btn btn-primary btn-large btn-block" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-largemiddle" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle">
      <a class="btn btn-primary btn-large btn-block" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="imgovrlay-largebottom" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom">
      <a class="btn btn-primary btn-large btn-block" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>
