<div id="options">

  <div class="row">
    <div class="col-xs-12">
      <h2>Alignment:</h2>
  
      <!-- 
       ** Block Alignment **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="alignment-block" data-docid="alignment-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Block
        </button>
        <div class="dropdown-menu" aria-labelledby="alignment-block">
          <a class="dropdown-item" href="#" data-option="alignment-block-left">Left pull block</a>
          <a class="dropdown-item" href="#" data-option="alignment-block-right">Right pull block</a>
          <a class="dropdown-item" href="#" data-option="alignment-floatfix">Floatfix</a>
        </div>
      </div>

      <!-- 
       ** Text Alignment **
      -->
      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="alignment-text" data-docid="alignment-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Text
        </button>
        <div class="dropdown-menu" aria-labelledby="alignment-text">
          <a class="dropdown-item" href="#" data-option="alignment-text-left">Left</a>
          <a class="dropdown-item" href="#" data-option="alignment-text-center">Center</a>
          <a class="dropdown-item" href="#" data-option="alignment-text-right">Right</a>
        </div>
      </div>
  
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-xs-12">
      <h2>Buttons:</h2>

      <!-- 
       ** Filled Buttons **
      -->
      
      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="button-filled" data-docid="buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filled
        </button>
        <div class="dropdown-menu" aria-labelledby="button-filled">
          <a class="dropdown-item" href="#" data-option="button-filled-primary">Primary</a>
          <a class="dropdown-item" href="#" data-option="button-filled-secondary">Secondary</a>
          <a class="dropdown-item" href="#" data-option="button-filled-success">Success</a>
          <a class="dropdown-item" href="#" data-option="button-filled-info">Info</a>
          <a class="dropdown-item" href="#" data-option="button-filled-warning">Warning</a>
          <a class="dropdown-item" href="#" data-option="button-filled-danger">Danger</a>
        </div>
      </div>

      <!-- 
       ** Outline Buttons **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="button-outline" data-docid="buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Outline
        </button>
        <div class="dropdown-menu" aria-labelledby="button-outline">
          <a class="dropdown-item" href="#" data-option="button-outline-primary">Primary</a>
          <a class="dropdown-item" href="#" data-option="button-outline-secondary">Secondary</a>
          <a class="dropdown-item" href="#" data-option="button-outline-success">Success</a>
          <a class="dropdown-item" href="#" data-option="button-outline-info">Info</a>
          <a class="dropdown-item" href="#" data-option="button-outline-warning">Warning</a>
          <a class="dropdown-item" href="#" data-option="button-outline-danger">Danger</a>
        </div>
      </div>

      <!-- 
       ** Button Sizes **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="button-size" data-docid="buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sizes
        </button>
        <div class="dropdown-menu" aria-labelledby="button-outline">
          <a class="dropdown-item" href="#" data-option="button-size-large">Large</a>
          <a class="dropdown-item" href="#" data-option="button-size-small">Small</a>
          <a class="dropdown-item" href="#" data-option="button-size-block">Block</a>
        </div>
      </div>

    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->


  <div class="row">
    <div class="col-xs-12">
      <h2>Cards:</h2>
  
      <!-- 
       ** Regular Cards **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="card-regular" data-docid="cards" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Regular
        </button>
        <div class="dropdown-menu" aria-labelledby="card-regular">
          <a class="dropdown-item" href="#" data-option="card-regular-blocklinks">Block Links</a>
          <a class="dropdown-item" href="#" data-option="card-regular-bulletlinks">Bullet Links</a>
          <a class="dropdown-item" href="#" data-option="card-regular-callout">Callout</a>
          <a class="dropdown-item" href="#" data-option="card-regular-info">Info</a> 
          <a class="dropdown-item" href="#" data-option="card-regular-notice">Notice</a>
          <a class="dropdown-item" href="#" data-option="card-regular-profile">Profile</a>
        </div>
      </div>

      <!-- 
       ** Image Overlay Cards **
      -->
      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="card-imgovrlay" data-docid="imgovrlay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Image Overlay
        </button>
        <div class="dropdown-menu" aria-labelledby="card-imgovrlay">
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-topleft">Top Left</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-topcenter">Top Center</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-topright">Top Right</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-middleleft">Middle Left</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-middlecenter">Middle Center</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-middleright">Middle Right</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-bottomleft">Bottom Left</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-bottomcenter">Bottom Center</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-bottomright">Bottom Right</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-largetop">Large Top</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-largemiddle">Large Middle</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-largebottom">Large Bottom</a>
          <a class="dropdown-item" href="#" data-option="card-imgovrlay-faded">Faded</a>
        </div>
      </div>

      <!-- 
       ** Card Decks **
      -->
      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="card-deck" data-docid="deck" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Deck
        </button>
        <div class="dropdown-menu" aria-labelledby="card-deck">
          <a class="dropdown-item" href="#" data-option="card-deck-regular">Regular</a>
          <a class="dropdown-item" href="#" data-option="card-deck-two">Two Per Row</a>
        </div>
      </div>
  
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->


  <div class="row">
    <div class="col-xs-12">
      <h2>Snippets:</h2>
  
      <!-- 
       ** Blockquote **
      -->

      <a class="btn btn-sm btn-secondary" href="#" data-option="snippet-blockquote">Blockquote</a>

      <!-- 
       ** Content **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="snippet-content" data-docid="default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Content
        </button>
        <div class="dropdown-menu" aria-labelledby="snippet-content">
          <a class="dropdown-item" href="#" data-option="snippet-content-expand">Expandable Content</a>
          <a class="dropdown-item" href="#" data-option="snippet-content-para-col2">Paragraph in 2 Columns</a>
          <a class="dropdown-item" href="#" data-option="snippet-content-para-col3">Paragraph in 3 Columns</a>
          <a class="dropdown-item" href="#" data-option="snippet-content-related">Related Information</a>
        </div>
      </div>

      <!-- 
       ** Lists **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="snippet-lists" data-docid="default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lists
        </button>
        <div class="dropdown-menu" aria-labelledby="snippet-lists">
          <a class="dropdown-item" href="#" data-option="snippet-list-filter">Filterable List</a>
          <a class="dropdown-item" href="#" data-option="snippet-list-inline">Inline List</a>
        </div>
      </div>

      <!--
       ** Photos **
      -->

      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="snippet-photos" data-docid="default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Photos
        </button>
        <div class="dropdown-menu" aria-labelledby="snippet-photos">
          <a class="dropdown-item" href="#" data-option="snippet-photos-profile">Columned Profile Pictures</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-quarterleft">Photo Caption: Quarter, Left</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-quarterright">Photo Caption: Quarter, Right</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-thirdleft">Photo Caption: Third, Left</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-thirdright">Photo Caption: Third, Right</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-halfleft">Photo Caption: Half, Left</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-halfright">Photo Caption: Half, Right</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-twothirdsleft">Photo Caption: Two-Thirds, Left</a>
          <a class="dropdown-item" href="#" data-option="snippet-photo-caption-twothirdsright">Photo Caption: Two-Thirds, Right</a>
        </div>
      </div>

      <!-- 
       ** Social Media **
      -->

      <a class="btn btn-sm btn-secondary" href="#" data-option="snippet-social">Social Media</a>

      <!-- 
       ** Table **
      -->

      <a class="btn btn-sm btn-secondary" href="#" data-option="snippet-table">Table</a>

    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->

</div>
