<!-- 
 ** Alignment: Block **
-->

<script id="alignment-block-left" type="text/template">
<img class="pull-md-left m-r-1 m-b-1" alt="[ALT]" src="http://placekitten.com/100/100" />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet turpis ex. Proin porta id augue id euismod. Donec ut mauris ultricies, eleifend ligula ac, facilisis ipsum. Pellentesque a condimentum enim. Vivamus rhoncus nisl arcu, et placerat est laoreet nec. </p>
</script>

<script id="alignment-block-right" type="text/template">
<img class="pull-md-right m-l-1 m-b-1" alt="[ALT]" src="http://placekitten.com/100/100" />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet turpis ex. Proin porta id augue id euismod. Donec ut mauris ultricies, eleifend ligula ac, facilisis ipsum. Pellentesque a condimentum enim. Vivamus rhoncus nisl arcu, et placerat est laoreet nec. </p>
</script>

<script id="alignment-floatfix" type="text/template">
<img class="pull-md-left m-r-1 m-b-1" alt="[ALT]" src="http://placekitten.com/100/100" />
<ul class="floatfix">
  <li>[CONTENT]</li>
  <li>[CONTENT]</li>
  <li>[CONTENT]</li>
</ul>
</script>

<!-- 
 ** Alignment: Text **
-->

<script id="alignment-text-left" type="text/template">
<p class="text-xs-left">[CONTENT]</p>
</script>

<script id="alignment-text-center" type="text/template">
<p class="text-xs-center">[CONTENT]</p>
</script>

<script id="alignment-text-right" type="text/template">
<p class="text-xs-right">[CONTENT]</p>
</script>

<!-- 
 ** Buttons: Filled **
-->

<script id="button-filled-primary" type="text/template">
<a class="btn btn-primary" href="[URL]">Primary Button</a>
</script>

<script id="button-filled-secondary" type="text/template">
<a class="btn btn-secondary" href="[URL]">Secondary Button</a>
</script>

<script id="button-filled-success" type="text/template">
<a class="btn btn-success" href="[URL]">Success Button</a>
</script>

<script id="button-filled-info" type="text/template">
<a class="btn btn-info" href="[URL]">Info Button</a>
</script>

<script id="button-filled-warning" type="text/template">
<a class="btn btn-warning" href="[URL]">Warning Button</a>
</script>

<script id="button-filled-danger" type="text/template">
<a class="btn btn-danger" href="[URL]">Danger Button</a>
</script>


<!-- 
 ** Buttons: Outline **
-->

<script id="button-outline-primary" type="text/template">
<a class="btn btn-primary-outline" href="[URL]">Primary Button</a>
</script>

<script id="button-outline-secondary" type="text/template">
<a class="btn btn-secondary-outline" href="[URL]">Secondary Button</a>
</script>

<script id="button-outline-success" type="text/template">
<a class="btn btn-success-outline" href="[URL]">Success Button</a>
</script>

<script id="button-outline-info" type="text/template">
<a class="btn btn-info-outline" href="[URL]">Info Button</a>
</script>

<script id="button-outline-warning" type="text/template">
<a class="btn btn-warning-outline" href="[URL]">Warning Button</a>
</script>

<script id="button-outline-danger" type="text/template">
<a class="btn btn-danger-outline" href="[URL]">Danger Button</a>
</script>


<!-- 
 ** Buttons: Size **
-->

<script id="button-size-large" type="text/template">
<a class="btn btn-primary btn-lg" href="[URL]">Large Primary</a>
</script>

<script id="button-size-small" type="text/template">
<a class="btn btn-primary btn-sm" href="[URL]">Small Primary</a>
</script>

<script id="button-size-block" type="text/template">
<a class="btn btn-primary btn-block" href="[URL]">Block Button</a>
</script>


<!-- 
 ** Regular Cards **
-->

<script id="card-regular-blocklinks" type="text/template">
<div class="card links">
  <div class="card-block">
    <h3 class="card-title">[TITLE]</h3>
    <p class="card-text">[TITLE]</p>
  </div>
  <ul class="list-group list-group-flush">
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
  </ul>
</div>
</script>

<script id="card-regular-bulletlinks" type="text/template">
<div class="card">
  <div class="card-block">
    <h3 class="card-title">[TITLE]</h3>
    <ul class="card-text">
      <li><a href="[URL]">[NAME]</a></li>
      <li><a href="[URL]">[NAME]</a></li>
      <li><a href="[URL]">[NAME]</a></li>
    </ul>
  </div>
</div>
</script>

<script id="card-regular-callout" type="text/template">
<div class="card">
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
  </div>
</div>
</script>

<script id="card-regular-notice" type="text/template">
<div class="card card-danger card-inverse">
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
  </div>
</div>
</script>

<script id="card-regular-profile" type="text/template">
<div class="card">
  <h3 class="card-header">[TEXT]</h3>
  <img alt="[ALT]" src="http://placekitten.com/300/300" />
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
    <a class="btn btn-primary">[TEXT]</a>
  </div>
</div>
</script>

<!-- 
 ** Image Overlay Cards **
-->

<script id="card-imgovrlay-topleft" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top pos-left">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-topcenter" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top pos-center">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-topright" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-middleleft" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle pos-left">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-middlecenter" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle pos-center">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-middleright" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-bottomleft" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-left">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-bottomcenter" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-center">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-bottomright" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-largetop" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-top">
      <a class="btn btn-primary btn-large btn-block" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-largemiddle" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-middle">
      <a class="btn btn-primary btn-large btn-block" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-largebottom" type="text/template">
<div class="card">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom">
      <a class="btn btn-primary btn-large btn-block" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<script id="card-imgovrlay-faded" type="text/template">
<div class="card faded">
  <img class="card-img" alt="[ALT]" src="http://placekitten.com/900/900" />
  <div class="card-img-overlay position">
    <div class="pos pos-bottom pos-right">
      <a class="btn btn-primary" href="[URL]">[TEXT]</a>
    </div>
  </div>
</div>
</script>

<!-- 
 ** Card Decks **
-->

<script id="card-deck-regular" type="text/template">
<div class="card-deck">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Card number one</h3>
      <p class="card-text">Content for the first card goes here.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Card number two</h3>
      <p class="card-text">Content for the second card goes here.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Card number three</h3>
      <p class="card-text">Content for the third card goes here.</p>
    </div>
  </div>
</div>
</script>

<script id="card-deck-two" type="text/template">
<div class="card-deck two">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Card number one</h3>
      <p class="card-text">Content for the first card goes here.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Card number two</h3>
      <p class="card-text">Content for the second card goes here.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Card number three</h3>
      <p class="card-text">Content for the third card goes here.</p>
    </div>
  </div>
</div>
</script>

<!-- 
 ** Snippets: Blockquote **
-->

<script id="snippet-blockquote" type="text/template">
<blockquote>
  <p>[CONTENT]</p>

  <p><cite>&mdash;<em>[NAME]</em>, Title</cite></p>
</blockquote>
</script>

<!-- 
 ** Snippets: Content **
-->

<script id="snippet-content-expand" type="text/template">
<h3 class="expand">[CONTENT TO CLICK ON]</h3>

<div>
  <p>[MORE CONTENT] Godard fingerstache gluten-free pug 90&#39;s mixtape. Cliche fashion axe readymade chia migas post-ironic. Locavore yr plaid cornhole, shabby chic direct trade single-origin coffee neutra godard schlitz poutine. Pabst scenester before they sold out shoreditch, truffaut cred viral iPhone. Selfies pitchfork actually quinoa street art, organic drinking vinegar schlitz selvage typewriter. Lomo man bun synth williamsburg offal, actually intelligentsia wayfarers vegan quinoa you probably haven&#39;t heard of them portland selvage. Fanny pack skateboard put a bird on it try-hard migas, keytar cray man bun pinterest bespoke intelligentsia heirloom blue bottle squid austin.</p>
</div>
</script>

<script id="snippet-content-para-col2" type="text/template">
<div class="columns">
  <div>
    [CONTENT] Godard fingerstache gluten-free pug 90&#39;s mixtape. Cliche fashion axe readymade chia migas post-ironic. Locavore yr plaid cornhole, shabby chic direct trade single-origin coffee neutra godard schlitz poutine. Pabst scenester before they sold out shoreditch, truffaut cred viral iPhone.
  </div>
  <div>
    [CONTENT] Godard fingerstache gluten-free pug 90&#39;s mixtape. Cliche fashion axe readymade chia migas post-ironic. Locavore yr plaid cornhole, shabby chic direct trade single-origin coffee neutra godard schlitz poutine. Pabst scenester before they sold out shoreditch, truffaut cred viral iPhone.
  </div>
</div>
</script>

<script id="snippet-content-para-col3" type="text/template">
<div class="columns three">
  <div>
    [CONTENT] Godard fingerstache gluten-free pug 90&#39;s mixtape. Cliche fashion axe readymade chia migas post-ironic. Locavore yr plaid cornhole, shabby chic direct trade single-origin coffee neutra godard schlitz poutine. Pabst scenester before they sold out shoreditch, truffaut cred viral iPhone.
  </div>
  <div>
    [CONTENT] Godard fingerstache gluten-free pug 90&#39;s mixtape. Cliche fashion axe readymade chia migas post-ironic. Locavore yr plaid cornhole, shabby chic direct trade single-origin coffee neutra godard schlitz poutine. Pabst scenester before they sold out shoreditch, truffaut cred viral iPhone.
  </div>
  <div>
    [CONTENT] Godard fingerstache gluten-free pug 90&#39;s mixtape. Cliche fashion axe readymade chia migas post-ironic. Locavore yr plaid cornhole, shabby chic direct trade single-origin coffee neutra godard schlitz poutine. Pabst scenester before they sold out shoreditch, truffaut cred viral iPhone.
  </div>
</div>
</script>

<script id="snippet-content-related" type="text/template">
<ul class="related columns">
  <li><a href="[URL]">[THING 1]</a></li>
  <li><a href="[URL]">[THING 2]</a></li>
  <li><a href="[URL]">[THING 3]</a></li>
  <li><a href="[URL]">[THING 4]</a></li>
  <li><a href="[URL]">[THING 5]</a></li>
</ul>
</script>

<!-- 
 ** Snippets: Lists **
-->

<script id="snippet-list-filter" type="text/template">
<div class="grouping">
  <ul class="menu">
    <li class="all"><b>All</b></li>
    <li class="cat1"><b>Category 1</b></li>
    <li class="cat2"><b>Category 2</b></li>
  </ul>

  <h5 class="all cat2 item expand">Example Item 1</h5>

  <div>
    <p>[CONTENT]</p>
  </div>

  <h5 class="all cat1 item expand">Example Item 2</h5>

  <div>
    <p>[CONTENT]</p>
  </div>

  <h5 class="all cat1 cat2 item expand">Example Item 3</h5>

  <div>
    <p>[CONTENT]</p>
  </div>
</div>
</script>

<script id="snippet-list-inline" type="text/template">
<ul class="inline">
  <li>[THING 1]</li>
  <li>[THING 2]</li>
  <li>[THING 3]</li>
</ul>
</script>

<!-- 
 ** Snippets: Photos **
-->

<script id="snippet-photo-profile" type="text/template">
<ul class="profiles core">
  <li><img src="http://placekitten.com/120/150" /> <a href="#">[NAME]</a></li>
  <li><img src="http://placekitten.com/120/150" /> <a href="#">[NAME]</a></li>
  <li><img src="http://placekitten.com/120/150" /> <a href="#">[NAME]</a></li>
  <li><img src="http://placekitten.com/120/150" /> <a href="#">[NAME]</a></li>
  <li><img src="http://placekitten.com/120/150" /> <a href="#">[NAME]</a></li>
  <li><img src="http://placekitten.com/120/150" /> <a href="#">[NAME]</a></li>
</ul>
</script>

<script id="snippet-photo-caption-quarterleft" type="text/template">
<div class="caption block-quarter left">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-quarterright" type="text/template">
<div class="caption block-quarter right">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-thirdleft" type="text/template">
<div class="caption block-third left">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-thirdright" type="text/template">
<div class="caption block-third right">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-halfleft" type="text/template">
<div class="caption block-half left">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-halfright" type="text/template">
<div class="caption block-half right">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-twothirdsleft" type="text/template">
<div class="caption block-twothirds left">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<script id="snippet-photo-caption-twothirdsright" type="text/template">
<div class="caption block-twothirds right">
  <img alt="[ALT]" src="http://placekitten.com/600/600" />
  <p>[CAPTION]</p>
</div>
</script>

<!-- 
 ** Snippets: Social Media **
-->

<script id="snippet-social" type="text/template">
<ul class="connect">
  <li class="connect-email"><a href="#">Email</a></li>
  <li class="connect-facebook"><a href="#">Facebook</a></li>
  <li class="connect-flickr"><a href="#">Flickr</a></li>
  <li class="connect-georgetown"><a href="#">Georgetown</a></li>
  <li class="connect-google-plus"><a href="#">Google+</a></li>
  <li class="connect-instagram"><a href="#">Instagram</a></li>
  <li class="connect-issuu"><a href="#">Issuu</a></li>
  <li class="connect-itunes"><a href="#">iTunes</a></li>
  <li class="connect-linkedin"><a href="#">LinkedIn</a></li>
  <li class="connect-meetup"><a href="#">Meetup</a></li>
  <li class="connect-rss"><a href="#">RSS</a></li>
  <li class="connect-skype"><a href="#">Skype</a></li>
  <li class="connect-tumblr"><a href="#">Tumblr</a></li>
  <li class="connect-twitter"><a href="#">Twitter</a></li>
  <li class="connect-ustream"><a href="#">Ustream</a></li>
  <li class="connect-vimeo"><a href="#">Vimeo</a></li>
  <li class="connect-wordpress"><a href="#">WordPress</a></li>
  <li class="connect-yelp"><a href="#">Yelp</a></li>
  <li class="connect-youtube"><a href="#">YouTube</a></li>
</ul>
</script>

<!-- 
 ** Snippets: Table **
-->

<script id="snippet-table" type="text/template">
<table summary="[Table Summary]">
  <caption><strong>[TABLE TITLE]:</strong> Subtitle</caption>
  <thead>
    <tr>
      <th>Column 1 Header</th>
      <th>Column 2 Header</th>
      <th>Column 3 Header</th>
      <th>Column 4 Header</th>
      <th>Column 5 Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
    </tr>
    <tr>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
      <td>[CONTENT]</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Column 1 Footer</th>
      <th>Column 2 Footer</th>
      <th>Column 3 Footer</th>
      <th>Column 4 Footer</th>
      <th>Column 5 Footer</th>
    </tr>
  </tfoot>
</table>
</script>
