  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="https://georgetown-university.github.io/whitehaven-media/js/tether.min.js"></script>
  <script type="text/javascript" src="https://georgetown-university.github.io/whitehaven-media/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="https://georgetown-university.github.io/whitehaven-media/js/scripts.js"></script> -->
  <!-- 
    Need to include a local copy of the custom JS file from the whitehaven theme because the jQuery namespacing
    done in the theme's copy of this file does not work here.
  -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/whitehaven.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/custom.js"></script>
</body>
</html>