<!DOCTYPE html>
<html>

<head>
  <title>Whitehaven Code Playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://georgetown-university.github.io/whitehaven-media/css/screen.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>

<body>
  <header class="play-header">
    <div class="navbar">
      <h1>Whitehaven Code Playground</h1>
    </div>
  </header>