<!-- 
 ** Buttons **
-->

<script id="button-primary" type="text/template">
<a class="btn btn-primary" href="[URL]">Primary Button</a>
</script>

<script id="button-secondary" type="text/template">
<a class="btn btn-secondary" href="[URL]">Secondary Button</a>
</script>

<script id="button-success" type="text/template">
<a class="btn btn-success" href="[URL]">Success Button</a>
</script>

<script id="button-info" type="text/template">
<a class="btn btn-info" href="[URL]">Info Button</a>
</script>

<script id="button-warning" type="text/template">
<a class="btn btn-warning" href="[URL]">Warning Button</a>
</script>

<script id="button-danger" type="text/template">
<a class="btn btn-danger" href="[URL]">Danger Button</a>
</script>


<!-- 
 ** Cards **
-->

<script id="card-blocklinks" type="text/template">
<div class="card links">
  <div class="card-block">
    <h3 class="card-title">[TITLE]</h3>
    <p class="card-text">[TITLE]</p>
  </div>
  <ul class="list-group list-group-flush">
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
    <li><a class="list-group-item" href="[URL]">[NAME]</a></li>
  </ul>
</div>
</script>

<script id="card-bulletlinks" type="text/template">
<div class="card">
  <div class="card-block">
    <h3 class="card-title">[TITLE]</h3>
    <ul class="card-text">
      <li><a href="[URL]">[NAME]</a></li>
      <li><a href="[URL]">[NAME]</a></li>
      <li><a href="[URL]">[NAME]</a></li>
    </ul>
  </div>
</div>
</script>

<script id="card-callout" type="text/template">
<div class="card">
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
  </div>
</div>
</script>

<script id="card-notice" type="text/template">
<div class="card card-danger card-inverse">
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
  </div>
</div>
</script>

<script id="card-profile" type="text/template">
<div class="card">
  <h3 class="card-header">[TEXT]</h3>
  <img alt="[ALT]" src="[SRC]" />
  <div class="card-block">
    <p class="card-text">[TEXT]</p>
    <a class="btn btn-primary">[TEXT]</a>
  </div>
</div>
</script>