---
---

/* -----------------------
 * Variables
 * ----------------------- */

$blue: #011e41;
$maroon: #8a2432;
$white: #fff;
$gray: #eee;

$sans: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$md: 768px;

@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

%options-block {
  background: $gray;
  margin-bottom: 0.5rem;
  padding: 1rem;

  h2 {
    font-family: $sans;
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-family: $sans;
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-transform: none;

    @include breakpoint($md) {
      margin-bottom: 0.25rem;
    }
  }
}


/* -----------------------
 * Global
 * ----------------------- */

header.play-header {
  background: $blue;
  position: absolute;
  top: 0;
  width: 100%;

  h1 {
    color: $white;
    margin: 0.65rem 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;

    @include breakpoint($md) {
      font-size: 2rem;
    }
  }
}

.play-content {
  margin-top: 60px;

  @include breakpoint($md) {
    margin-top: 75px;
  }
}

/* -----------------------
 * Form
 * ----------------------- */

.play-form {
  margin: 1rem 0;

  @include breakpoint($md) {
    margin: 0 2rem 2rem 0;
  }

  textarea#code {
    border: solid $maroon;
    border-width: 1px 1px 1px 1rem;
    font-family: monospace;
    font-size: 1rem;
    height: 20rem;
    outline: none;
    padding: 1rem;
    width: 100%;
  }

  #options {
    @extend %options-block;

    h2 {
      display: inline-block;
      margin: 0.5rem 0;
      width: 100%;

      @include breakpoint($md) {
        margin-bottom: 0.25rem;
        width: 4.5rem;
      }
    }

    .dropdown {
      display: inline;

      a {
        font-size: 1rem;
      }
    }
  }

  #options-csv {
    @extend %options-block;

    input:not(.btn) {
      display: block;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}

#error .modal-body {
  section {
    display: none;
    margin-bottom: 2rem;
  }
}


/* -----------------------
 * Output
 * ----------------------- */

.play-output {
  margin: 2rem 0;

  @include breakpoint($md) {
    margin: 3rem 2rem 2rem 0;
  }

  & > h2 {
    background: $blue;
    color: $white;
    font-size: 1.25rem;
    margin: 0;
    padding: 0.5rem;
  }

  #output {
    border: dashed $blue;
    border-width: 0 1px 1px;
    display: inline-block;
    padding: 1rem;
    width: 100%;
  }
}


/* -----------------------
 * Documentation
 * ----------------------- */

.play-docs {
  background: rgba($blue, 0.15);

  h2 {
    font-size: 1.25rem;
  }

  pre {
    font-family: $sans;
    font-size: 0.9rem;
    white-space: pre-line;
  }

  em {
    color: $maroon;
    font-weight: 500;
  }

  section {
    display: none;
    padding: 2rem 1rem;

    @include breakpoint($md) {
      padding: 2rem 1.5rem;
    }
  }

  section[data-doc=default] {
    display: block;
  }
}
